@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
.App {
  text-align: center;
  background-color: #222831;
  margin: 0;
  padding: 0;
}
.navBar {
  padding: 20px 0;
  color: "#fff";
  box-shadow: none !important;
}
.navButton a {
  text-decoration: none;
  margin-left: 20px;
}
.navButtonMobile a {
  text-decoration: none;
}
.navButton button,
.navButtonMobile button {
  padding: 10px 30px;
  border-radius: 30px;
  color: orangered;
  border: 2px solid orangered;
}
.navButton button:hover,
.navButtonMobile button:hover {
  background-color: orangered;
  padding: 10px 30px;
  border: 2px solid #fff;
  color: #fff;
}
.resumeBtn {
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

/* contact form  */
.contactForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.contactForm input,
textarea {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  padding: 15px 8px;
  font-size: 16px;
}
.contactBtn {
  width: 25%;
  padding: 10px 30px !important;
  border-radius: 30px;
  color: orangered;
  border: 2px solid orangered;
}
.contactBtn:hover {
  background-color: orangered;
  padding: 10px 30px;
  border: 2px solid #fff;
  color: #fff;
}
/* header  */

.projectdetail {
  opacity: 0;
  background-color: #fff;
  transition: 0.5s;
}
.projectdetail:hover {
  opacity: 1;
}

/* social icon  */

.headerIcon .iconbox {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  transition: all ease-out 0.3s;
  margin: 0 5px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.headerIcon .iconbox:hover {
  width: 200px;
}
.headerIcon .iconbox .icon {
  display: inline-block;
  float: left;
  height: 60px;
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50px;
  line-height: 60px;
  transition: all ease-out 0.3s;
}
.headerIcon .iconbox:nth-child(1):hover .icon {
  background-color: #333;
}
.headerIcon .iconbox:nth-child(2):hover .icon {
  background-color: #0e76a8;
}
.headerIcon .iconbox:nth-child(3):hover .icon {
  background-color: #4267b2;
}
.headerIcon .iconbox:nth-child(4):hover .icon {
  background-color: #00acee;
}
.headerIcon .iconbox .icon i {
  font-size: 25px;
  line-height: 60px;
  color: #222;
}
.headerIcon .iconbox:hover .icon i {
  color: #fff;
}
.headerIcon .iconbox a {
  text-decoration: none;
}
.headerIcon .iconbox span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all ease-out 0.3s;

  color: #222;
}
.headerIcon .iconbox:nth-child(1):hover span {
  color: #333;
}
.headerIcon .iconbox:nth-child(2):hover span {
  color: #0e76a8;
}
.headerIcon .iconbox:nth-child(3):hover span {
  color: #4267b2;
}
.headerIcon .iconbox:nth-child(4):hover span {
  color: #00acee;
}

/* particles */
#tsparticles {
  position: absolute;
  width: 100%;
  content: "";
  z-index: 1;
}
